<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Users</h1>
    <%= link_to 'New user', new_user_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <h2>Existing Database</h2>
  <table class="table-auto mb-6 border-collapse border border-slate-400 mt-8">
    <thead>
      <tr class="text-s">
        <th class="border border-slate-300 px-3">First name</th>
        <th class="border border-slate-300 px-3">Last name</th>
        <th class="border border-slate-300 px-3">Phone</th>
        <th class="border border-slate-300 px-3">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <% @step_one = false %>
        <%= render "user", user: user %>
      <% end %>
    </tbody>
  </table>

  <h2 class="font-bold">Step 1 Convert last names with umlauts</h2>
  <table class="table-auto mb-6 border-collapse border border-slate-400 mt-8">
    <thead>
      <tr class="text-s">
        <th class="border border-slate-300 px-3">First name</th>
        <th class="border border-slate-300 px-3">Last name</th>
        <th class="border border-slate-300 px-3">Phone</th>
        <th class="border border-slate-300 px-3">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <% @step_one = true %>
        <% user.correct_name = user.last_name[0].gsub('AE', 'Ä').gsub('OE', 'Ö').gsub('UE', 'Ü').gsub('SS', 'ß') %>
        <% user.correct_name = user.last_name[0].gsub('AE', 'Ä').gsub('OE', 'Ö').gsub('UE', 'Ü').gsub('SS', 'ß') %>
        <% user.correct_name = user.last_name[0].gsub('AE', 'Ä').gsub('OE', 'Ö').gsub('UE', 'Ü').gsub('SS', 'ß') %>
        <% user.correct_name = user.last_name[0].gsub('AE', 'Ä').gsub('OE', 'Ö').gsub('UE', 'Ü').gsub('SS', 'ß') %>
        <% user.save %>
        <%= render "user", user: user %>
    <% end %>
    </tbody>
  </table>

  <h2 class="mb-6 font-bold">Step 2 All possible names spelling</h2>
  <div>
    <% @users.each do |user| %>
      <% all_names(user) %>
      <span class="font-bold">
        <%= user.last_name[0] %>
      </span>
      <% user.last_name.each do |name| %>
        <%= name %>
      <% end %>
      <br>
    <% end %>
  </div>

  <h2 class="my-6 font-bold">Step 3 Generate the command</h2>
  <div class="mb-12">
    <% @users.each do |user| %>
      For user: 
      <span class="font-bold">
        <%= user.last_name[0] %>
      </span>
      <br>
      Type SQL command: 
      <code>SELECT * FROM users WHERE last_name IN (<% user.last_name.each_with_index do |name, index| %>
                                                        <% if index < user.last_name.count - 1 %>
                                                          <%= "'#{name}'," %>
                                                        <% else %>
                                                          <%= "'#{name}'" %>
                                                        <% end %>
                                                      <% end %>);
      </code>
      <br>
    <% end %>
  </div>
</div>
